@import "../node_modules/bulma/sass/utilities/initial-variables";
@import "../node_modules/bulma/sass/utilities/functions";
@import url('https://fonts.googleapis.com/css?family=Poiret+One|Roboto');

$family-cursive: "Poiret One";
$family-serif: "Roboto";

$family-primary: $family-cursive;
$family-secondary: $family-serif;

@import "../node_modules/bulma/bulma";
